@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Condensed Bold';
    src: url('../fonts/RobotoCondensed-Bold.ttf');
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #F8F9FA;
    font-size: 15px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*header*/
nav.navbar {
    margin-bottom: 15px;
}

.navbar-dark .navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

/*footer*/
footer.navbar {
    height: 40px;
}

    footer.navbar p {
        color: white;
        padding-top: 10px;
    }
